body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header h1 {
    color: #B4D4FF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -10px;
    font-size: small;
    color: #176B87;
    margin-bottom: 20px;
    box-sizing: border-box;
}

div h3 {
    background-color: #B4D4FF;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border-radius: 2px;
    font-size: medium;
    flex: content;
    padding: 20px;
    box-sizing: border-box;
}

div h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: small;
    color: #86B6F6;
}

div h2 {
    background-color: #B4D4FF;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    text-align: center;
    flex-direction: column;
    padding: 40px;
}


.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    flex: content;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.p1  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    text-align: left;
}

.p2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    text-align: center;
}

.inputSection {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    font-weight: bold;
    color: #86B6F6;

}

.hl1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
    text-align: center;
    color: #86B6F6;
}


.integer {
    background-color: #176B87;
}
#sideLength {
    position: relative;
    border-radius: 5px,2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    width: 1570px;
    padding: 10px;
    box-sizing: border-box;
    height: 50px;
    width: 1550px;
    margin: 05px;
    outline: none;
    border-radius: 10px;
    background: none;
    box-shadow: -3px -5px 10px white,3px 5px 10px rgba(114, 113, 113, 0.4);
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    color: #176B87;

}

#calculateButton{
    height: 30px;
    width: 110px;
    margin: 05px;
    outline: none;
    border-radius: 10px;
    background: none;
    box-shadow: -3px -5px 10px white,3px 5px 10px rgba(114, 113, 113, 0.4);
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    color: #176B87;
    cursor: pointer;
    
}


#calculateButton:hover {
    box-shadow: -3px -5px 10px white,3px 5px 10px rgba(114, 113, 113, 0.4) ;
}

#calculateButton:active {
    color: #86B6F6;
}

#resetButton {
    height: 30px;
    width: 110px;
    margin: 05px;
    outline: none;
    border-radius: 10px;
    background: none;
    box-shadow: -3px -5px 10px white,3px 5px 10px rgba(114, 113, 113, 0.4);
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    color: #176B87;
    cursor: pointer;

}