body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header h1 {
    color: #B4D4FF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    margin-bottom: 10px;
    
}

header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    font-size: x-small;
    color: #176B87;
    margin-bottom: 10px;
    box-sizing: border-box;
}

div h3 {
    background-color: #B4D4FF;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border-radius: 2px;
    font-size: small;
    flex: content;
    padding: 5px;
    box-sizing: border-box;
}

div h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: x-small;
    color: #86B6F6;
}

div h2 {
    background-color: #B4D4FF;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    text-align: center;
    flex-direction: column;
    padding: 20px;
}

.container img{
    width: 100%;
    height: auto;
    max-width: 80px;
    display: block;
    margin: auto;
}


.p1  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
    text-align: left;
}

.p2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
    text-align: center;
}

.p3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
    text-align: left;
}

.p4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #B4D4FF;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 10px;
}

.inputSection {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    font-weight: bold;
    color: #86B6F6;

}

#sideLength {
    text-align: center;
    position: relative;
    border-radius: 5px,2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    width: 1570px;
    padding: 10px;
    box-sizing: border-box;
    height: 50px;
    width: 500px;
    margin: 05px;
    outline: none;
    border-radius: 10px;
    background: none;
    box-shadow: -3px -5px 10px white,3px 5px 10px rgba(114, 113, 113, 0.4);
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    color: #176B87;

}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculateButton{
    height: 30px;
    width: 110px;
    margin: 05px;
    outline: none;
    border-radius: 10px;
    background: none;
    box-shadow: -3px -5px 10px white,3px 5px 10px rgba(114, 113, 113, 0.4);
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    color: #176B87;
    cursor: pointer;
    
}

#calculateButton:hover {
    box-shadow: -3px -5px 10px white,3px 5px 10px rgba(114, 113, 113, 0.4) ;
    display: block;
}

#calculateButton:active {
    color: #86B6F6;
}

.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#resetButton {
    height: 30px;
    width: 110px;
    margin: 05px;
    outline: none;
    border-radius: 10px;
    background: none;
    box-shadow: -3px -5px 10px white,3px 5px 10px rgba(114, 113, 113, 0.4);
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    color: #176B87;
    cursor: pointer;
}

#result {
    margin-top: 20px;
}

#result p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
    margin-bottom: 10px;
}